user  {{ nginx_user }};

error_log  {{ nginx_error_log }};
pid        {{ nginx_pidfile }};

worker_processes  {{ nginx_worker_processes }};

events {
    worker_connections  {{ nginx_worker_connections }};
}

http{

    include       {{ nginx_mime_file_path }};
    default_type  application/octet-stream;

    server {
        listen       {{ item.listen | default('80') }};
        server_name  localhost;
                
        error_page    500 502 503 504  /50x.html;

            location /health {
            access_log off;
            return 200 "healthy\n";
        }
    }
}
